.timelog-list {
  max-width: 992px;
}

.timelog-row {
  border-bottom: 1px solid #e6e6e6;
  padding: 8px;
}

.timelog-row > span {
  padding: 0 8px;
}

.timelog-list ul {
  list-style: none;
}

.timelog-row-header {
  font-weight: bold;
}

.actions {
  float: right;
}

.actions button {
  background-color: transparent;
  padding: 0;
  margin-left: 16px;
}

.actions button i {
  color: #5f5f5f;
}

.search-field {
  position: relative;
  margin-bottom: 16px;
}

.search-field input {
  text-indent: 16px;
}

.search-field i {
  color: #5f5f5f;
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 16px;
}
